[project]
name = "state-remodel"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "lightning>=2.5.5",
    "torch>=2.8.0",
    "transformers>=4.56.2",
]
